<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %> MTB 19
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
  <script src="https://www.jsdelivr.com/package/npm/pdfjs-dist"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>

<body class="bg-gray-dark">
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light rounded-3" style="background-color: darkgreen;">
    <a class="navbar-brand text-white" href="#">Military Circle 19th</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link text-white" href="/">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/documents">งานเอกสาร</a>
        </li>
       
      </ul>
      <h2 class="text-end">คุณ <%= user.prefix %> <%= user.name %>
      </h2>
    </div>
  </nav>


  <!-- Create Script that append "Active" Class on menu bar when on page-->