<%- include('./components/head.ejs') %>
<form class="mt-5" method="post" action="/upload" enctype="multipart/form-data">
    <label for="file" class="form-control">File
    <input type="file" name="file" id="file" value="" />
</label>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
